input[type='radio'] + label 
{
    margin: 0;
    clear: none;
    padding: 5px 0 4px 24px;
    cursor: pointer;
    background: url('default1.png') left  no-repeat;
    color:#333333;
}

input[type='radio']:checked + label, input[type='radio']:hover:checked + label
{
    background-image: url('checked.png');
}

input[type='radio']:hover + label
{
    background-image: url('hover.png');
    color: rgba(51,51,51,0.75);
}

input[type='radio']
{
    opacity: 0;
	width: 20px;
	height: 20px;
}

#preload-01 { background: url('checked.png') no-repeat -9999px -9999px; }
#preload-02 { background: url('default1.png') no-repeat -9999px -9999px; }
#preload-03 { background: url('hover.png') no-repeat -9999px -9999px; }