body
{
    margin: 0;
    padding: 0;
}

.Corpo
{
    height: 100%;
    width: 100%;
}
    
.Corpo img
{
    min-width: 100%;
    min-height: 100%;
 }
 
.Logo
{
    position:absolute; 
    display:inline-block; 
    left: 100px;
    width: 35%; 
    height: 20%;
    top: 18px;
    bottom: 313px;
}

.Logo img 
{
    position: relative;
    width: 100%;
    height: 100%;
}

.Caixa
{
     position:absolute;
     width:650px;
     height:420px;
     margin:-30px 0 0 -50px; 
     top: 36%;
     left:6%;
     background: rgba(255,191,0,0.5);
     border-radius: 10px;
     color: rgba(51,51,51,1);
		
}

.Questao
{
    height:85px; 
    left:10%; 
    margin:-30px 0 0 -50px; 
    position:absolute; 
    top:10%; 
    width:600px;   
}   
   
.RadioButtonList1
{
    height:200px; 
    left:5%; 
    margin:-30px 0 0 -50px; 
    position:absolute; 
    top:28%; 
    width:600px;   
}

.Botao
{ 
    height:80px; 
    left:10%; 
    margin:-30px 0 0 -50px; 
    position:absolute; 
    top:95%; 
    width:200px;   
}

.BotaoProximaPergunta
{ 
    height:100px; 
    left:10%; 
    margin:-30px 0 0 -50px; 
    position:absolute; 
    top:89.5%; 
    width:180px;  
    text-align:center; 
}

.Panel1
{
    height:80px; 
    left:11%; 
    margin:-30px 0 0 -50px; 
    position:absolute; 
    top:73%; 
    width:200px;
    
}

input[type=submit] 
{
	color: rgba(51,51,51,1);
	cursor:pointer;
	padding: 5px 13px;
	background: -moz-linear-gradient(
		top,
		#ffbf00 0%,
		#a88809);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffbf00),
		to(#a88809));
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #000000;
	-moz-box-shadow:
		0px 1px 1px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	-webkit-box-shadow:
		0px 1px 1px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	box-shadow:
		0px 1px 1px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	text-shadow:
		0px -1px 0px rgba(000,000,000,1),
		0px 1px 0px rgba(255,255,255,0.2);
}

input[type=submit]:hover
{
    background: -moz-linear-gradient(
		top,
		#a88809 0%,
		#ffbf00);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#a88809),
		to(#ffbf00));    
} 

input[type=submit]:active
{
    background: -moz-linear-gradient(
		top,
		#a88809 0%,
		#ffbf00);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#a88809),
		to(#ffbf00));   
	color: rgba(255,191,0,0.5);
} 

.Valores
{
    height:200px; 
    left:30%; 
    margin:-240px 100px 0 -150px; 
    position:absolute; 
    top:70%; 
    width:550px;
    font-size: 24px;
    text-align:center;
}

.CertaResposta
{
    position:absolute;
    width:500px;
    height:100px;
    margin:-50x 0 0 -50px; 
    top: 12%;
    left:30%;
    font-size:50px;
    text-align:center;
    color:White;
}

.PerguntaResposta
{
    color:Blue;
}

.Final
{
    position:absolute;
    width:800px;
    height:200px;
    margin:-200x 0 0 -90px; 
    top: 2%;
    left:20%;
    font-size:20px;
    text-align:center;
    color:Red; 
}

#FimDeJogo
{
    font-size:50px;
    font-weight:bold;
}

.CaixaRank
{
    position:absolute;
    width:800px;
    height:420px;
    margin:-400px 0 0 -210px; 
    top:95%;
    left:35%;
    background: rgba(255,191,0,0.3);
    border-radius: 10px;
    color: rgba(51,51,51,1);
}

.Tabela
{
    position:absolute;
    width:750px;
    height:310px;
    margin:-180px 0 0 -155px; 
    top: 52%;
    left:22.5%;
    background: rgba(255,191,0,0.5);
    border-radius: 2px;
    overflow:auto; 
}

.TabelaRank 
{
    border-collapse:collapse; 
    border:2px solid #000000;
    color: rgba(51,51,51,1); 
    padding:5px; 
    width:750px; 
    height:100px;     
    text-align:center;
    font-size:17px;
}

.BotaoRecomeçar
{
    height:30px; 
    left:45%; 
    margin:-30px 0 0 -50px; 
    position:absolute; 
    top:98%; 
    width:180px;  
    text-align:center; 
}

.InsiraNome
{
    position:absolute; 
    height:30px; 
    left:10%; 
    margin:-30px 0 0 -50px; 
    top:8%; 
    width:500px; 
    font-size:17px;
    color:Black; 
    font-weight:bold;
}